:root {
  --color-text-header: #444444;
  --color-text-body: #6f6f6f;
  --color-background:  #f3f3f3;
  --color-background-app: #FFF2F2;
  --color-branding: #8549ba;
  --color-link: #9158c4;

  --box-shadow: 1px 6px 10px 2px rgba(0, 0, 0, .1);
  --box-shadow-2: 0 6px 8px 0 rgba(0, 0, 0, .1);

  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 36px;
  --spacing-5: 64px; 
}

.App {
  display: grid;
  grid-template-columns: 1fr 350px;
  text-align: center;
  color: var(--color-text-body);
}

main {
  grid-column: 1/2;
  background-color: var(--color-background-app);
  margin-top: 4rem;
}

aside {
  grid-column: 2/3;
  padding: var(--spacing-3);
  margin-top: 4rem;
}

header {
  grid-column: 1 / span 2;
  position: fixed;
  background-color: white;
  width: 100%;
}

a {
  color: var(--color-link);
}

i {
  color: var(--color-text-body);
}

p {
  margin: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: var(--spacing-2);
}

/* scroll */
::-webkit-scrollbar {
  width: 5px;
}
  ::-webkit-scrollbar-thumb {
  background: #888; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
} 