.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: var( --spacing-2) var(--spacing-4);
    /* box-shadow: var(--box-shadow); */
    border: 1px solid rgba(0, 0, 0, 0.144);
}

.logo {
    display: flex;
    grid-column: 1 / 2;
    font-size: 18px;
    color: var( --color-text-header);
    align-items: center;
}

.logo img {
    margin: 0;
    margin-right: var( --spacing-0);
    width: 2.2rem;
}

.logo p {
    font-weight: 700;
}

.logo span {
    color: var(--color-branding);
}